<div class = "container" style="height:690px;background-color:#ffffff">
	<div class = "jumbotron" style="margin-top:15%;background-color:#000000">
		<h1 style="text-align:center;margin-top:5%;color:#ffffff">WELCOME TO CEM</h1>
		<h2 style="text-align:center;color:#00f2f2;font-family:Lithos Pro, sans-serif">Discover Great Brands</h2>
			<h2 style="text-align:center"><%= link_to 'Start Discovering', categories_path , class: "btn btn-info btn-lg"%></h2>	
	</div>
</div>
